@bg-green: #9ae6b4;
@text-green: #38a169;

@h-padding: 1rem;
@v-padding: 0.5rem;

.sighting-species-subtitle {
  font-style: italic;
}

.sighting-species-badge {
  display: flex;
  //gap: 1.25rem;

  background-color: @bg-green;
  color: @text-green;

  padding: @v-padding @h-padding;
  border-radius: 0.25rem;

  span {
    font-weight: bold;
  }
}

