<!--needed to write this fragment to display an anchor link the tooltip-->
<ng-template #searchTip>
  <span class="search-tip">
  Confused? See
  <a
    href="https://support.ebird.org/en/support/solutions/articles/48001009443-ebird-hotspot-faqs"
  >
    eBird's FAQ
  </a>
   for region codes
  </span>
</ng-template>

<search tuiSearch>
  <form (submit)="onSubmit($event)">
    <fieldset tuiTextfieldSize="m">

      <tui-textfield iconStart="@tui.search">
        <label tuiLabel>eBird Region Code</label>
        <input tuiInput [formField]="form.regionCode" placeholder="Search by region code (e.g. US-MA)"/>
        <tui-icon [tuiTooltip]="searchTip"/>
      </tui-textfield>

    </fieldset>
  </form>
</search>
