@import "@taiga-ui/styles/utils.less";

[tuiAppearance][data-appearance="tooltip"] {
  background-color: var(--tui-background-neutral-2);
}

.search-tip {
  a {
    font-weight: bold;
  }
}

fieldset {
  display: flex;
  flex-direction: column;

  //align-items: center;

  gap: 2rem;
}

tui-accordion {
  tui-expand {
    padding: 0;
  }
}

.search-options-row {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}

.search-mode-selector {
  background-color: var(--tui-background-neutral-2);
  font-weight: bold;
}

.slider-ticks-labels {
}
