:host {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  padding: 0.5rem;
}

.search-results-label {
  display: flex;
  flex-direction: row;

  gap: 1rem;
  margin-top: 0.5rem;
}

.sighting-results-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);

  place-content: center;
  box-sizing: border-box;

  gap: 1rem;
}


