:host {
  display: block;

  height: 60vh;
  width: 100%;

  overflow: hidden;
/*  border-radius: 1rem;
  border-radius: b;*/
  border-top-radius: 0;
  border-bottom-radius: 1rem;
}

.sighting-map-group {
  height: 50%;
  width: 50%;
}

mgl-map {
  height: 100%;
  width: 100%;
}
